{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("whichNationalProvisionsIsThisArrangementBasedOn.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back")
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.arrangement.WhichNationalProvisionsIsThisArrangementBasedOnController.onSubmit(id, mode).url }}" method="post">

          {{ csrf() | safe }}

          <h1 class="govuk-heading-xl">{{messages("whichNationalProvisionsIsThisArrangementBasedOn.title")}}</h1>

          <p id="national-provisons-hint" class="govuk-body">{{messages("whichNationalProvisionsIsThisArrangementBasedOn.hint1")}}</p>

          <p class="govuk-body">{{messages("whichNationalProvisionsIsThisArrangementBasedOn.hint2")}}</p>

          {{ govukTextarea({
              label: {
                  classes: "govuk-label govuk-visually-hidden",
                  text: "Which national provisions is this arrangement based on?",
                  isPageHeading: false
              },
              name: "value",
              id: "value",
              rows: 15,
              value: form.value.value,
              describedBy: "national-provisons-hint",
              errorMessage: form.value.error
            })
          }}


          {{ govukButton({
            text: messages("site.saveAndContinue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
