{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {{ title(messages("disclosureDelete.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("disclosureDelete.heading") }}
        </h1>


        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-0',
          rows: disclosureSummary
        }) }}

        {{ govukWarningText({
        text: messages("disclosureDelete.warning"),
        iconFallbackText: "Warning"
        }) }}

        <form action="{{ routes.controllers.disclosure.DisclosureDeleteCheckYourAnswersController.onContinue().url }}" method="post">
          {{ csrf() | safe }}
          <div class="govuk-!-margin-top-9">
            {{ govukButton({
                text: messages("disclosureDelete.delete-disclosure"),
                preventDoubleClick: true,
                attributes: {
                  id:"submit"
                  }
            }) }}
          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}
