{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {{ title(messages("disclosureDelete.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back"),
     classes: "js-enabled"
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("disclosureDelete.heading") }}
        </h1>


        {{ govukSummaryList({
          rows: disclosureSummary
        }) }}

        {{ govukWarningText({
          text: messages("disclosureDelete.warning"),
          iconFallbackText: "Warning"
        }) }}

        <p class="govuk-body">{{ homePageLink | safe }}</p>

        <form action="{{ routes.controllers.disclosure.DisclosureDeleteCheckYourAnswersController.onContinue().url }}" method="post">
          {{ csrf() | safe }}

          {{ govukButton({
            text: messages("disclosureDelete.delete-disclosure"),
            preventDoubleClick: true,
            attributes: {
              id:"submit"
            }
          }) }}
        </form>

      </div>
    </div>
  </div>

{% endblock %}
