{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("disclosureMarketable.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back")
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.disclosure.DisclosureMarketableController.onSubmit(mode).url }}" method="post">

        {{ csrf() | safe }}

        <fieldset class="govuk-fieldset" aria-describedby="warning">

        <legend>
            <h1 class="govuk-heading-xl" id="heading">
                {{ messages("disclosureMarketable.heading")}}
            </h1>
        </legend>

        {{ govukWarningText({
          text: messages('disclosureMarketable.warning'),
          iconFallbackText: "Warning",
          attributes: {
              "id": "warning"
              }
        }) }}

        {{ govukRadios({
            name: 'value',
            items: radios,
            errorMessage: form.value.error
        }) }}

        {{ govukButton({
            text: messages("site.saveAndContinue"),
            attributes: {id:"submit"}
        }) }}

        </fieldset>
        </form>

      </div>
    </div>
  </div>

{% endblock %}
