{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("isExemptionKnown.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back")
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.intermediaries.IsExemptionKnownController.onSubmit(id, mode).url }}" method="post">

          {{ csrf() | safe }}

          <h1 class="govuk-heading-xl name-overflow">{{ messages("isExemptionKnown.heading", intermediary) }}</h1>
          <p class="govuk-body">{{ messages("isExemptionKnown.hint.1") }}</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{ messages("isExemptionKnown.hint.2") }}</li>
            <li>{{ messages("isExemptionKnown.hint.3") }}</li>
            <li>{{ messages("isExemptionKnown.hint.4") }}</li>
          </ul>

          {{ govukRadios({
            name: 'value',
            fieldset: {
              legend: {
                text: messages('isExemptionKnown.title'),
                isPageHeading: true,
                classes: "govuk-visually-hidden name-overflow"
              }
            },
            items: radios,
            errorMessage: form.value.error
          }) }}

          {{ govukButton({
            text: messages("site.saveAndContinue"),
            attributes: {
               "id": "submit"
            }
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
