{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "add-to-a-list/macro.njk"            import hmrcAddToAList %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("youHaveNotAddedAnyIntermediaries.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.intermediaries.YouHaveNotAddedAnyIntermediariesController.onSubmit(id, mode).url }}" method="post">

          {{ csrf() | safe }}

{# ------------------ todo tu trzeba styl dodac ------------------ #}
            {{ hmrcAddToAList({
                itemList: intermediaryList,
                itemType: {
                  singular: messages("youHaveNotAddedAnyIntermediaries.singular"),
                  plural: messages("youHaveNotAddedAnyIntermediaries.plural")
                },
                emptyList: messages('youHaveNotAddedAnyIntermediaries.emptyList') {# ------------------ todo <span> ------------------ #}
            }) }}

          <p class="govuk-body name-overflow">{{ messages('youHaveNotAddedAnyIntermediaries.hint')}}</p>

          {{ govukRadios({
              name: 'value',
              classes: "name-overflow",
              fieldset: {
                  legend: {
                  text: messages('youHaveNotAddedAnyIntermediaries.subHeading.1')  if intermediaryList | length == 0 else messages('youHaveNotAddedAnyIntermediaries.subHeading.2'),
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend govuk-fieldset__legend--m name-overflow"
              }
          },
              items: radios,
              errorMessage: form.value.error
          }) }}

          {{ govukButton({
              text: messages("site.saveAndContinue"),
              attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
