<script src="{{ routes.controllers.Assets.versioned("javascripts/application.min.js").url }}"></script>
<script src="{{ routes.controllers.Assets.versioned("javascripts/accessible-autocomplete.min.js").url }}"></script>
<script src="{{ routes.controllers.Assets.versioned("javascripts/countries-autocomplete.min.js").url }}"></script>
<script>window.GOVUKFrontend.initAll();</script>
