{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/button/macro.njk"        import govukButton %}

{% block pageTitle %}
  {{ title(messages("associatedEnterpriseCheckYourAnswers.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back")
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("associatedEnterpriseCheckYourAnswers.heading") }}
        </h1>

        <form action="{{ routes.controllers.enterprises.AssociatedEnterpriseCheckYourAnswersController.onSubmit(id).url }}" method="post">

          {{ csrf() | safe }}

          {{ govukSummaryList({
            rows: summaryRows
          }) }}

          {{ govukSummaryList({
            classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-0',
            rows: countrySummary
          }) }}

          <hr>

          {{ govukSummaryList({
            rows: isEnterpriseAffected
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            preventDoubleClick: true,
            attributes: {id:"submit"}
          }) }}

         </form>

      </div>
    </div>
  </div>

{% endblock %}
