{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("reporterIndividualAddress.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back")
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.reporter.individual.ReporterIndividualAddressController.onSubmit(id, mode).url }}" method="post">

          {{ csrf() | safe }}

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                {{ messages("reporterIndividualAddress.heading") }}
              </h1>
            </legend>

            {{ govukInput({
              label: {
                text: messages('address.addressLine1')
              },
              classes: "govuk-!-width-two-thirds",
              id: "addressLine1",
              name: "addressLine1",
              autocomplete: "address-line1",
              value: form.addressLine1.value,
              errorMessage: form.addressLine1.error
            }) }}

            {{ govukInput({
              label: {
                text: messages('address.addressLine2')
              },
              classes: "govuk-!-width-two-thirds",
              id: "addressLine2",
              name: "addressLine2",
              autocomplete: "address-line2",
              value: form.addressLine2.value,
              errorMessage: form.addressLine2.error
            }) }}

            {{ govukInput({
              label: {
                text: messages('address.addressLine3')
              },
              classes: "govuk-!-width-two-thirds",
              id: "addressLine3",
              name: "addressLine3",
              autocomplete: "address-level2",
              value: form.addressLine3.value,
              errorMessage: form.addressLine3.error
            }) }}

            {{ govukInput({
              label: {
                text: messages('address.city')
              },
              classes: "govuk-!-width-two-thirds",
              id: "city",
              name: "city",
              autocomplete: "address-level1",
              value: form.city.value,
              errorMessage: form.city.error
            }) }}

            {{ govukInput({
             label: {
               text: messages('address.postcodeUk.optional' if isUkAddress else 'address.postcode.optional')
             },
             classes: "govuk-input--width-10",
             id: "postCode",
             name: "postCode",
             autocomplete: "postal-code",
             value: form.postCode.value,
             errorMessage: form.postCode.error
            }) }}

            {{ govukInput ({
              name: "country",
              value: "GB",
              attributes: {
                "hidden": "true"
              }
            }) }}

            {% if isUkAddress %}
              {{ govukInput ({
                name: "country",
                value: "GB",
                attributes: {
                  "hidden": "true"
                }
              }) }}
            {% else %}
              {{ govukSelect({
                label: {
                  text: messages('address.country')
                },
                classes: "govuk-!-width-two-thirds autocomplete",
                id: "country",
                name: "country",
                errorMessage: form.country.error,
                items: countries
              }) }}
            {% endif %}

          </fieldset>

          {{ govukButton({
            text: messages("site.saveAndContinue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
