{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/button/macro.njk"        import govukButton %}


{% block pageTitle %}
  {{ title(messages("checkYourAnswers.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("checkYourAnswers.heading") }}
        </h1>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-0',
          rows: organisationSummary
        }) }}

        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: countrySummary
        }) }}

        <hr>

            {{ csrf() | safe }}

            <div class="govuk-!-margin-top-9">
                {{ govukButton({
                    text: messages("site.continue"),
                    preventDoubleClick: true,
                    attributes: {id:"submit"}
                }) }}
            </div>

      </div>
    </div>
  </div>

{% endblock %}
