{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("disclosureDetails.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
              {{ messages("disclosureDetails.heading", arrangementID) }}
            </h1>

            <p class="govuk-body">{{ messages("disclosureDetails.p1") }}</p>

          <ol class="app-task-list govuk-!-margin-top-9">
            <li>

              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span>
                {{ messages("disclosureDetails.section1") }}
              </h2>

              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="{{ disclosureUrl }}" aria-describedby="disclosure-type">
                  {{ messages("disclosureDetails.disclosureTypeLink") }}
                  </a>
                  <strong class="govuk-tag app-task-list__task-completed" id="disclosure-type">Completed</strong>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span>
                  {{ messages("disclosureDetails.section2") }}
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="{{ hallmarksUrl }}" aria-describedby="hallmarks">
                  {{ messages("disclosureDetails.hallmarksLink") }}
                  </a>
                </li>
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="{{ arrangementsUrl }}" aria-describedby="arrangement-details">
                  {{ messages("disclosureDetails.arrangementDetailsLink") }}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">3. </span>
                {{ messages("disclosureDetails.section3") }}
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="{{ reportersUrl }}" aria-describedby="reporter-details">
                  {{ messages("disclosureDetails.reporterDetailsLink") }}
                  </a>
                </li>
              </ul>
            </li>


            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">4. </span>
                {{ messages("disclosureDetails.section4") }}
              </h2>
              <ul class="app-task-list__items">

                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="{{ taxpayersUrl }}" aria-describedby="relevant-taxpayers">
                  {{ messages("disclosureDetails.relevantTaxpayersLink") }}
                  </a>
                </li>

                <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="{{ intermediariesUrl }}" aria-describedby="intermediaries">
                    {{ messages("disclosureDetails.intermediariesLink") }}
                    </a>
                </li>

              </ul>
            </li>
          </ol>

          <h2 class="govuk-heading-m">
            {{ messages("disclosureDetails.disclosureNotReady") }}
          </h2>

          <p class="govuk-body">{{ messages("disclosureDetails.disclosureNotReady.p1") }}</p>

        </div>
      </div>
  </div>

{% endblock %}