{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("disclosureDetails.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
              {{ messages("disclosureDetails.heading", arrangementID) }}
            </h1>

            <p class="govuk-body">{{ messages("disclosureDetails.p1") }}</p>

          <ol class="app-task-list govuk-!-margin-top-9">

            <li>

              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span>
                {{ messages("disclosureDetails.section1") }}
              </h2>

              <ul class="app-task-list__items">

                <li class="app-task-list__item">
                  {# <a class="app-task-list__task-name" href="{{ disclosureUrl }}" aria-describedby="disclosure-type"> #}
                  {{ messages("disclosureDetails.disclosureTypeLink") }}
                  {#</a> #}
                  <strong class="govuk-tag app-task-list__task-completed" id="disclosure-type">Completed</strong>
                </li>

              </ul>
            </li>

            <li>

              <h2 class="app-task-list__section" id="arrangementDetails">
                <span class="app-task-list__section-number">2. </span>
                  {{ messages("disclosureDetails.section2") }}
              </h2>

              <ul class="app-task-list__items">

                {{ hallmarksTaskListItem | safe }}

                {{ arrangementDetailsTaskListItem | safe }}


              </ul>
            </li>

            <li>
              <h2 class="app-task-list__section" id="reporterDetails">
                <span class="app-task-list__section-number">3. </span>
                {{ messages("disclosureDetails.section3") }}
              </h2>

              <ul class="app-task-list__items">

                {{ reporterDetailsTaskListItem | safe }}

              </ul>

            </li>
            <li>

              <h2 class="app-task-list__section" id="connected-parties">
                <span class="app-task-list__section-number">4. </span>
                {{ messages("disclosureDetails.section4") }}
              </h2>

              <ul class="app-task-list__items">

                {{ relevantTaxpayerTaskListItem | safe }}

                {{ intermediariesTaskListItem | safe }}

              </ul>

            </li>
          </ol>

          <h2 class="govuk-heading-m">
            {{ messages("disclosureDetails.disclosureNotReady") }}
          </h2>

          <p class="govuk-body">{{ messages("disclosureDetails.disclosureNotReady.p1") }}</p>

        </div>
      </div>
  </div>

{% endblock %}