{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("disclosureDetails.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">
          {{ messages("disclosureDetails.heading") }}
        </h1>

        <p class="govuk-body">{{ messages("disclosureDetails.p1") }}</p>

        <h2 class="govuk-heading-m">
          {{ messages("disclosureDetails.section1") }}
        </h2>

        <div class = "indent">
        <hr class="indent">
          <p><a href="{{ disclosureTypeLink }}" class="govuk-link" id="disclosureTypeLink" >
              {{ messages("disclosureDetails.disclosureTypeLink") }}
          </a></p>

        <hr class="indent">
        </div>


        <div class="govuk-!-margin-top-9">
            <h3 class="govuk-heading-m">
              {{ messages("disclosureDetails.section2") }}
            </h3>
        </div>

        <div class = "indent">
            <hr class="indent">
            <p><a href="{{ hallmarksLink }}" class="govuk-link" id="hallmarksLink" >
              {{ messages("disclosureDetails.hallmarksLink") }}
            </a></p>
            <hr class="indent">

            <p><a href="{{ arrangementDetailsLink }}" class="govuk-link" id="arrangementDetailsLink" >
              {{ messages("disclosureDetails.arrangementDetailsLink") }}
            </a></p>
            <hr class="indent">
        </div>


        <div class="govuk-!-margin-top-9">
            <h4 class="govuk-heading-m">
            {{ messages("disclosureDetails.section3") }}
            </h4>
        </div>

        <div class = "indent">
            <hr class="indent">
            <p><a href="{{ reporterDetailsLink }}" class="govuk-link" id="reporterDetailsLink" >
              {{ messages("disclosureDetails.reporterDetailsLink") }}
            </a></p>
            <hr class="indent">
        </div>


        <div class="govuk-!-margin-top-9">
            <h5 class="govuk-heading-m">
            {{ messages("disclosureDetails.section4") }}
            </h5>
        </div>

        <div class = "indent">
            <hr class="indent">
            <p><a href="{{ relevantTaxpayersLink }}" class="govuk-link" id="relevantTaxpayersLink" >
              {{ messages("disclosureDetails.relevantTaxpayersLink") }}
            </a></p>
            <p><a href="{{ associatedEnterpriseLink }}" class="govuk-link" id="associatedEnterpriseLink" >
              {{ messages("disclosureDetails.associatedEnterpriseLink") }}
            </a></p>
            <hr class="indent">
            <p><a href="{{ intermediariesLink }}" class="govuk-link" id="intermediariesLink" >
              {{ messages("disclosureDetails.intermediariesLink") }}
            </a></p>
            <hr class="indent">
            <p><a href="{{ othersAffectedLink }}" class="govuk-link" id="othersAffectedLink" >
              {{ messages("disclosureDetails.othersAffectedLink") }}
            </a></p>
            <hr class="indent">
        </div>

      </div>
    </div>
  </div>

{% endblock %}
