{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("generatedXML.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
          {{ messages("generatedXML.heading") }}
        </h1>

        <p class="govuk-body">
          <textarea readonly style="width: 100%" rows="40">{{ xml }}</textarea></p>

      </div>
    </div>
  </div>

{% endblock %}
