{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% block pageTitle %}
  {{ title(messages("newDisclosureConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: messages("newDisclosureConfirmation.heading"),
          html: arrangementID
        }) }}

        <div class="govuk-body">
          <p>{{ messages("newDisclosureConfirmation.p1", email) }}</p>
          <p>{{ messages("newDisclosureConfirmation.p2") }}</p>
          <p>{{ messages("newDisclosureConfirmation.p3", disclosureID) }}</p>
          <p>{{ messages("newDisclosureConfirmation.p4", messageRefID) }}</p>

          <p>{{ homePageLink | safe }}</p>
          <p>{{ betaFeedbackSurvey | safe }}</p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
