{% extends "includes/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("summary.title")) }}
{% endblock %}

{% block mainContent %}

<div class="govuk-main-wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("summary.heading") }}
        </h1>

        <p class="govuk-body"><a href="#" class="govuk-link">{{ messages("summary.printLink") }}</a></p>

        <p class="govuk-body">{{ messages("summary.p1") }}</p>

        <p class="govuk-body">{{ messages("summary.p2", saveDate) }}</p>

        <h2 class="govuk-heading-l">
          {{ messages("summary.disclosure.heading") }}
        </h2>

        {{ govukSummaryList({
          rows: disclosureList
        }) }}

        <h2 class="govuk-heading-l">
          {{ messages("summary.hallmarks.heading") }}
        </h2>

        {{ govukSummaryList({
          rows: hallmarksList
        }) }}

        <h2 class="govuk-heading-l">
          {{ messages("summary.arrangements.heading") }}
        </h2>

        {{ govukSummaryList({
          rows: arrangementList
        }) }}

       <h2 class="govuk-heading-l">
         {{ messages("summary.reporters.heading") }}
       </h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-0',
          rows: reporterDetails
        }) }}

        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: residentCountryDetails
        }) }}

        <hr>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-0',
          rows: roleDetails
        }) }}

        {% if taxpayersList | length == 0 %}

               <h2 class="govuk-heading-l">
                 {{ messages("summary.taxpayers.heading.one") }}
               </h2>

               {{ govukSummaryList({
                 rows: taxpayerUpdateRow
               }) }}

        {% elseif taxpayersList | length == 1 %}

               <h2 class="govuk-heading-l">
                 {{ messages("summary.taxpayers.heading.one") }}
               </h2>

               {{ govukSummaryList({
                 rows: taxpayersList | first
               }) }}

        {% else %}
           {% for item in taxpayersList %}

               <h2 class="govuk-heading-l">
                 {{ messages("summary.taxpayers.heading.many", loop.index) }}
               </h2>

               {{ govukSummaryList({
                 rows: item
               }) }}

          {% endfor %}
        {% endif %}


        {% if enterprisesList | length == 0 %}

               <h2 class="govuk-heading-l">
                 {{ messages("summary.enterprises.heading.one") }}
               </h2>

               {{ govukSummaryList({
                 rows: enterprisesUpdateRow
               }) }}

        {% elseif enterprisesList | length == 1 %}

               <h2 class="govuk-heading-l">
                 {{ messages("summary.enterprises.heading.one") }}
               </h2>

               {{ govukSummaryList({
                 rows: enterprisesList | first
               }) }}
        {% else %}
           {% for item in enterprisesList %}

               <h2 class="govuk-heading-l">
                 {{ messages("summary.enterprises.heading.many", loop.index) }}
               </h2>

               {{ govukSummaryList({
                 rows: item
               }) }}
          {% endfor %}
        {% endif %}

       <h2 class="govuk-heading-l">
         {{ messages("summary.intermediaries.heading") }}
       </h2>

       {{ govukSummaryList({
         rows: intermediariesList
       }) }}

       <h2 class="govuk-heading-l">
         {{ messages("summary.others.heading") }}
       </h2>

       {{ govukSummaryList({
         rows: othersList
       }) }}

      </div>
    </div>
  </div>

{% endblock %}
