{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("doYouKnowTINForNonUKOrganisation.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back")
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.organisation.DoYouKnowTINForNonUKOrganisationController.onSubmit(id, mode, index).url }}" method="post">

          {{ csrf() | safe }}

          <h1 class="govuk-heading-l govuk-!-margin-bottom-0 name-overflow">
            {{ messages("doYouKnowTINForNonUKOrganisation.heading", organisationName, country) }}
          </h1>

          <p class="govuk-hint">{{ messages("doYouKnowTINForNonUKOrganisation.hint") }}</p>

          {{ govukRadios({
            name: 'confirm',
            classes: "name-overflow",
            items: radios,
            errorMessage: form.confirm.error
          }) }}

          {{ govukButton({
            text: messages("site.saveAndContinue"),
            attributes: {"id": "submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
