$govuk-assets-path: "/enter-cross-border-arrangements/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/enter-cross-border-arrangements/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";


@import "partials/header";
@import 'patterns/add-to-a-list';
@import "language-toggles.scss";
@import "main.css";




.govuk-warning-text__icon {
    margin-top: 5px;
    width: 33px;
    height: 33px;
}

.govuk-warning-text__text {
    margin-left: 11px;
}