{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% if disclosureID %}
    {% set panelKey = 'disclosureConfirmation.panel.disclosure' %}
{% else %}
    {% set panelKey = 'disclosureConfirmation.panel.arrangement' %}
{% endif %}

{% block pageTitle %}
    {{ title(messages("disclosureConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: messages("disclosureConfirmation.title"),
          html: panelText,
          classes: "name-overflow"
        }) }}

        <div class="govuk-body">

          <p>
            <span class="name-overflow">
              {{ messages("disclosureConfirmation.firstEmail") }}
              <span class="text-overflow">{{ emailMessage }}.</span>
            </span>
          </p>

          {% if disclosureID %}
            <p><span class="name-overflow">{{ messages("disclosureConfirmation.p2") }}</span></p>
            <p>
              <span class="name-overflow">
                {{ messages("disclosureConfirmation.p3.A") }}
                <span class="text-overflow">{{ disclosureID }}</span>
                {{ messages("disclosureConfirmation.p3.B") }}
              </span>
            </p>
            <p>
              <span class="name-overflow">
                {{ messages("disclosureConfirmation.p4") }}
                <span class="text-overflow">{{ messageRefID }}.</span>
                {{ messages("disclosureConfirmation.p5") }}
              </span>
            </p>
          {% else %}
            <p>
              <span class="name-overflow">
                {{ messages("disclosureConfirmation.p4") }}
                <span class="text-overflow">{{ messageRefID }}.</span>
                {{ messages("disclosureConfirmation.p6") }}
              </span>
            </p>
            <p><span class="name-overflow"><strong>{{ messages("disclosureConfirmation.p7") }}</strong></span></p>
            <p><span class="name-overflow">{{ messages("disclosureConfirmation.p8") }}</span></p>
          {% endif %}

          <p>{{ homePageLink | safe }}</p>
          <p>{{ betaFeedbackSurvey | safe }}</p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
