{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% block pageTitle %}
  {{ title(messages("replacementDisclosureConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: messages("replacementDisclosureConfirmation.title"),
          html: panelText,
          classes: "name-overflow"
        }) }}

        <div class="govuk-body">

          <p>
            <span class="name-overflow">
              {{ messages("replacementDisclosureConfirmation.p1", "<span class=\"text-overflow\">"+emailMessage+"</span>") }}
            </span>
          </p>

          <p>
            <span class="name-overflow">
              {{ messages("replacementDisclosureConfirmation.p2", "<span class=\"text-overflow\">"+messageRefID+"</span>") }}
            </span>
          </p>

          <h2 class="govuk-heading-m"><span class="name-overflow">{{ messages("replacementDisclosureConfirmation.h2") }}</span></h2>
          <p><span class="name-overflow">{{ messages("replacementDisclosureConfirmation.p3") }}</span></p>

          <p>{{ homePageLink | safe }}</p>
          <p>{{ betaFeedbackSurvey | safe }}</p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
