{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block pageTitle %}
  {{ title(messages("yourDisclosureHasBeenDeleted.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
        titleText: messages("yourDisclosureHasBeenDeleted.heading"),
        classes: "name-overflow"
        }) }}

        <p class="govuk-body">
          <span class="name-overflow">
            {{ messages("yourDisclosureHasBeenDeleted.p1.A") }}
            <span style="word-wrap: break-word;overflow-wrap: anywhere;-webkit-hyphens: none;-ms-hyphens: none;-moz-hyphens: none;hyphens: none">{{disclosureID}}</span>
            {{ messages("yourDisclosureHasBeenDeleted.p1.B") }}
            <span style="word-wrap: break-word;overflow-wrap: anywhere;-webkit-hyphens: none;-ms-hyphens: none;-moz-hyphens: none;hyphens: none">{{arrangementID}}</span>
            {{ messages("yourDisclosureHasBeenDeleted.p1.C") }}
          </span>
        </p>

        <p class="govuk-body">
          <span class="name-overflow">
            {{ messages("yourDisclosureHasBeenDeleted.p2") }}
            <span style="word-wrap: break-word;overflow-wrap: anywhere;-webkit-hyphens: none;-ms-hyphens: none;-moz-hyphens: none;hyphens: none"> {{messageRefid}}.</span>
          </span>
        </p>

        <p class="govuk-body">
          <span class="name-overflow">
            {{ messages("yourDisclosureHasBeenDeleted.p3") }}
            <span style="word-wrap: break-word;overflow-wrap: anywhere;-webkit-hyphens: none;-ms-hyphens: none;-moz-hyphens: none;hyphens: none">{{emailMessage}}.</span>
          </span>
        </p>

        <p class="govuk-body">{{ homePageLink | safe }}</p>
        <p class="govuk-body">{{ betaFeedbackSurvey | safe }}</p>

      </div>
    </div>
  </div>

{% endblock %}
